body{
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Poppins';
    margin-left: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    gap: 33px;
}

.header_buttons{
    font-size: 22px;
    background-color: #262626;
    color: #FFFFFF;
    border-radius: 15px;
    height: 53px;
    width: 131px;
    border: 0;
   
}

#logo{
    font-size: 48px;
}

.search{
    width: 597px;
    height: 53px;
    background-color:  #262626;
    border-radius: 15px;
    border: 0;
    font-size: 24px;
    padding-left: 10px;
}

.cards_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    
}

.card{
    box-sizing: border-box;
    width: 346px;
    height: 391px;
    left: 119px;
    border: 3px solid #262626;
    background-color: #1F1F1F;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    
}
p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}
h3{
    font-size: 30px;
    font-weight: 600;
    color: #C4C4C4;
}

.card_know_more{
    position: relative;
    width: 169.44px;
    height: 58px;
    left: 145px;
    top: 30px;
    border: 0;
    background-color: #FECB03;
    border-radius: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

.category_heading{

    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #FFFFFF;
}

.about_us_container{
    height: 588px;
    background: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.about_us{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    margin-left: 30px;
    padding-top: 20px;
}

.about_us_body{
    display: flex;
    justify-content: space-between;
}

.about_left{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

.about_row{
    display: flex;
}

.about_know_more{
    border: 0;
    width: 260px;
    height: 107px;
    background: #FECB03;
    border-radius: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #262626;
}

img{
    width: 105px;
    height: 105px;
}

#clock_image{
    position: relative;
    bottom: 60px;
    width: 281.91px;
    height: 281.91px;
    background: #262626;
   
}

.about_row > p{
    height: 53px;
    font-size: 32px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 600;
}

.footer_container{
    display: flex;
    margin-top: 30px;
    background-color:#262626;
    border-radius: 30px;
    gap: 30px;
    justify-content: space-between;

}

.footer_left{
    width: 513px;
    margin-left: 30px;
}

.footer_right{
    display: flex;
    gap: 20px;
}

#footer_heading{
    margin: 0;
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;

}

.footer_left >p{

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.8);
}

.footer_column{
    display: flex;
    flex-direction: column;
}

h4{
    font-style: normal;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 335px;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

a{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}